---
import { Image } from "astro:assets"

const { image, imageAlt, name, description, ref } = Astro.props
---

<article
  class="bg-color-quaternary text-white shadow-md shadow-black/30 text-center w-full max-w-[280px] h-fit pb-6 rounded-lg"
>
  <Image src={image} alt={imageAlt} class="rounded-t-lg h-[150px]" />
  <div class="mb-5 px-4 pt-2 flex flex-col gap-1">
    <h1 class="font-bold text-md">{name}</h1>
    <p class="text-sm">{description}</p>
  </div>
  <div class="px-4">
    <a
      class="bg-color-primary/90 hover:bg-color-primary/60 hover:scale-95 text-white transition-all text-sm py-2 px-4 rounded-md cursor-pointer"
      href={ref}
      target="_blank"
      rel="noopener noreferrer"
    >
      Ver proyecto
    </a>
  </div>
</article>
